ul { 
    list-style-type: square; 
    list-style-position: outside; 
    list-style-image: url("../images/Twitter_logo.png"); 
    vertical-align:middle;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
.glyphicon-refresh.spinning {
    transform-origin: 48% 50%;
}

.centerBlock {
    display:table;
    margin: 0  auto;
}

.chart {
    height: 200px;
    position: relative;
    width: 200px;
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    z-index: 70;
    opacity: 1;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

